body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
  text-align: center;
}

img {

}

nav {
  text-align: center;
}

nav a.upperlinks {
  background: grey
  padding-left: 10px
  padding-right: 10px;
}

p {
  text-align: center;
}

#featured-property p {
  width: 800px;
}

#details {
  display: block;
  float: left;
}
